<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>注册页</title>
</head>
<body>
<form action="/02-reg" method="post">
  <table>
    <tr>
      <td>姓名</td>
      <td><input type="text" name="uname"></td>
    </tr>
    <tr>
      <td>年龄</td>
      <td><input type="text" name="age"></td>
    </tr>
    <tr>
      <td>邮箱</td>
      <td><input type="text" name="email"></td>
    </tr>
    <tr>
      <td>手机</td>
      <td><input type="text" name="phone"></td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="注册">
      </td>
    </tr>
  </table>
</form>
</body>
</html>